
%h1 Registered Users
-if !@training_records.empty?
  %table
    %tr
      %th First Name
      %th Last Name
      %th Email

    - @training_records.each do |record|
      %tr
        %td= link_to  record.user.firstname, user_path(record.user.id)
        %td= record.user.lastname
        %td= record.user.email
