
%h1 Registered Users
-if !@training_records.empty?
  %table
    %tr
      %th First Name
      %th Last Name
      %th Email
      -#%th Record attendance

    - @training_records.each do |record|
      %tr
        %td= record.user.firstname
        %td= record.user.lastname
        %td= record.user.email
        -#%td= check_box_tag "record_attended[]", record.attended

