.comment
  %i.commenter= comment.user.firstname if comment.user_id

  .commenter.h6= comment.created_at.strftime("%B %d, %Y %I:%M%p")
  .comment.p= comment.body
  -if(current_user.role? "SeniorCommittee")
    = link_to 'Remove comment', [@board, @conversation, comment], :method => :delete, :data => { :confirm => 'Are you sure?' }

  %hr