= simple_form_for([@show_role, @role_application]) do |f|

  // display errors, if any
  - if @role_application.errors.any?
    -@role_application.errors.full_messages.each do |msg|
      %li=msg

  // form fields 
  .form-inputs
  %br
    %b= "Why are you applying for this role?"
    %br
    %br
    #roleapplication 
      = f.text_area :content

  // submit application 
  .form-actions
    #roleapplication
      = f.button :submit, "Submit"
  %br
  %br


