%h1 Listing role_applications

%table
  %tr
    %th Show role
    %th User
    %th Content
    %th

  - @role_applications.each do |role_application|
    %tr
      %td= role_application.show_role_id
      %td= role_application.user_id
      %td= role_application.content
      %td= link_to 'View Application', role_application
      / %td= link_to 'Destroy', role_application, :method => :delete, :data => { :confirm => 'Are you sure?' }

