.page-header
  %h1 Home
.dashboard.clearfix
  %h2 Welcome to the SUTCo Management Application!
  %ul.tiles
    .col1.clearfix
      %li.tile.tile-big.tile-1.slideTextUp{"data-page-name" => "random-r-page", "data-page-type" => "r-page"}
        %div
          %p You have unprocessed requests
        %div
          %p
            =link_to "Process Role Applications", role_applications_path
    .col2.clearfix
      %li.tile.tile-small.tile.tile-2.slideTextRight{"data-page-name" => "random-restored-page", "data-page-type" => "s-page"}
        %div
          %p.icon-calendar
            =link_to "View Calendar", calendars_path
        %div
          %p Event Calendar
