%h1 My message boards

%table.table.table-striped.table-responsive.table-nonfluid.table-customstyle.table-hover
  %thead
    %tr
      %th Boards
      %th Conversations
  %tbody
  - @boards.each do |board|
    %tr
    -if board.authorized(current_user)
      %td= link_to board.title, board
      %td= board.conversations.count

%br

-#= link_to 'New Board', new_board_path
