%html
  %body
    %h3= @comment.user.firstname + ' ' + @comment.user.lastname + ' posted :'
    %h4= @comment.body
    %p= link_to("View this comment on the SUTCO website", board_conversation_url(@comment.conversation.board.id, @comment.conversation.id))
