
#calendar table {
  border-collapse: collapse;
  width: 100%;
}

#calendar td,
#calendar th {
  font-family: 'Lato';
  font-size: 16px;
  padding: 6px;
  border: 2px solid #303030;
}

#calendar th {
  background: #777777;
  color: #FFF;
  text-align: center;
  font-weight: normal;
  width: 14.2857142857143%;

}

#calendar td {
  background: #777777;
  color: #fff;
  height: 80px;
  vertical-align: top;
  text-align: center;
  font-weight: bold;
  font-size: 16px;

}

#calendar .notmonth {
  background: #4E4E4E;
  color: #CCC
}

#calendar #month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#calendar #month a, #calendar #month a:hover {
  text-decoration: none;
  padding: 0 10px;
  color: #fff;
}

#calendar .today {
  background-color: #BBB;
  color:#fff
}


#calendar mon{
  font-family: 'Segoe UI', 'Open Sans', Arial, sans-serif;
  margin: .25em 0;
  font-weight: 100;
  font-size: 25px;
  font-weight: normal;
  text-align:center;
  color:#666
}

#calendar ularrow a{

  margin: 0;
  margin-top: 0px;
  padding-left: 3px;
  font-size: 24px;
  text-align: center;  
  font-weight: normal;
  color: #666;
  display: inline;
}


#calendar .linkshow {
    font-family: 'Segoe UI', 'Open Sans', Arial, sans-serif;
    display: block;
    color: rgb(255, 255, 255);
    margin: 0;
    margin-top: 0px;
    padding-left: 3px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;  
    background: #00A3A3;
    color: #FFF;
    border: 0px none;
    outline: 0px none;
  width: 100%;
}

#calendar .linktraining {
    font-family: 'Segoe UI', 'Open Sans', Arial, sans-serif;
    display: block;
    color: rgb(255, 255, 255);
    margin: 0;
    margin-top: 0px;
    padding-left: 3px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;  
    background: #FE7C22;
    color: #FFF;
    border: 0px none;
    outline: 0px none;
  width: 100%;
}

#calendar .linkworkshop {
    font-family: 'Segoe UI', 'Open Sans', Arial, sans-serif;
    display: block;
    color: rgb(255, 255, 255);
    margin: 0;
    margin-top: 0px;
    padding-left: 3px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;  
    background: #6BA5E7;
    color: #FFF;
    border: 0px none;
    outline: 0px none;
  width: 100%;
}

#calendar .linksocial {
    font-family: 'Segoe UI', 'Open Sans', Arial, sans-serif;
    display: block;
    color: rgb(255, 255, 255);
    margin: 0;
    margin-top: 0px;
    padding-left: 3px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;  
    background: #691BB8;
    color: #FFF;
    border: 0px none;
    outline: 0px none;
  width: 100%;
}




#calendar a{
  color:#fff
}




#calendar .buttonshow {
    font-family: 'Segoe UI', 'Open Sans', Arial, sans-serif;
    display: inline;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    text-transform: uppercase;
    background: #00A3A3;
    color: #FFF;
    border: 0px none;
    outline: 0px none;
    width: 130px;
    height: 130px;


}

#calendar .buttonworkshop {
    font-family: 'Segoe UI', 'Open Sans', Arial, sans-serif;
    display: inline;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    text-transform: uppercase;
    background: #6BA5E7;
    color: #FFF;
    border: 0px none;
    outline: 0px none;
    width: 130px;
    height: 130px;


}

#calendar .buttonsocial {
    font-family: 'Segoe UI', 'Open Sans', Arial, sans-serif;
    display: inline;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    text-transform: uppercase;
    background: #691BB8;
    color: #FFF;
    border: 0px none;
    outline: 0px none;
    width: 130px;
    height: 130px;


}


#calendar .buttontraining {
    font-family: 'Segoe UI', 'Open Sans', Arial, sans-serif;
    display: inline;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    text-transform: uppercase;
    background: #FE7C22;
    color: #FFF;
    border: 0px none;
    outline: 0px none;
    width: 130px;
    height: 130px;
}



#calendar li {
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: center;
}