.show
  width: 582px
  background-color: rgba(16, 8, 11, 0.21)
  border-bottom: 10px solid black
  border-left: 1px solid black
  margin-bottom: 15px
  color: #311d9c
  h3
    padding-top: 13px
    padding-button: 0px


.icon
  display: inline
  margin-top: 10px

  .icon-desktop
    position: absolute
    left: 420px
    padding-top: 13px

  #View
    position: absolute
    margin-top: 22px
    left: 445px
    font-size: .6em


  .icon-edit-sign
    position: absolute
    left: 480px
    padding-top: 13px
  #Edit
    position: absolute
    left: 500px
    font-size: .6em
    padding-top: 22px
  .icon-trash
    position: absolute
    padding-top: 13px
    left: 532px
  #Delete
    position: absolute
    left: 550px
    font-size: .6em
    padding-top: 22px






