.show
  width: 502px
  height: 378px
  background-color: #5cb85c
  border-bottom: 1px solid #5cb85c
  border-left: 1px solid #5cb85c
  border-radius: 8px
  margin-bottom: 10px
  h3
    padding-top: 13px
    padding-left: 5px
    padding-button: 0px
    a
      color: white

  #show_image
    width: 500px
    height: 320px
    overflow: hidden
    img
      width: 100%

.icon
  display: inline
  font-size: .7em
  .icon-edit-sign
    position: absolute
    margin-top: 5px
    left: 370px
  #Edit
    position: absolute
    margin-top: 5px
    left: 388px

  .icon-trash
    position: absolute
    margin-top: 5px
    left: 430px
  #Delete
    position: absolute
    margin-top: 5px
    left: 445px
