%p.fields

  = f.label :title, "Position"  
  = f.select :position ,options_for_select(["Lighting Operator", "Lighting Designer", "Sound Operator", "Sound Designer", "Assistant Stage Manager", "Deputy Stage Manager", "Set Designer", "Set Construction", "Costume Designer", "Costume Team", "Make up", "Make up team", "Producer", "Director", "Dialect Coach", "Physical Coach"]) 
  = f.input :required_number
  = link_to_remove_fields "remove", f