%header
  %h1 Shows
  
= render @shows
- if ((current_user.role? "SeniorCommittee") || (current_user.role? "TechManager"))
  %a.btn.btn-success.btn-lg{href: new_show_path, role: "button"} Create New Show
%br
%br

//= link_to 'New Show', new_show_path

